body {
    background-color: black; 
}

.chef-title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;  
}

.chef-section {
    max-width: 2000px;
    position: relative;
}

.chef-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}