body {
    background-color: black; 
}

header {
    display: flex;
    align-items: center;
    padding: 30px 10%;
    justify-content: center;
}

.chef-title {
    font-family: 'Montserrat',
        sans-serif;
    color: white;
    text-align: center;
}

.gclogo {
    cursor: pointer;
    height: 100px;
    width: 100px;
}

.chef-section {
    max-width: 2000px;
    position: relative;
}

.chef-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.chef-para-div { 
    border: solid 5px white;
    margin-top: 20px;
}

.chef-para {
    color: white;
    text-align: center;
    margin: 30px 30px;
}

.chef {
    color: white;
    text-align: center;
}