@font-face {
    font-family: 'customfont';
    src: url('bank_gothic_medium_bt-webfont.woff2') format('woff2'),
         url('bank_gothic_medium_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    height: 100px;
    width: 100px;
}

.nav-links {
    list-style: none;
    color: white;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px;
    
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.nav-links li a:hover {
    color: red;
}


.site-header {
    max-width: 2000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.site-logo {
    width: 100%;
    height: 100%;
}
/* Hover For Vertical Nav */

.site-header-text h4 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
}

/* fading done */

.main-nav-a:hover {
    color: red;
}


.main-nav {
    display: inline;
    padding: 0 auto;
}

.main-nav-list {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    
}

.main-nav-feature {
    display: inline;
}

.site-nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:black;
    list-style: none;
    margin: auto; 

}

.who-title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;

}

.chef-logo {
    width: 50%;
    height: auto;
    margin: 25% 25%;
    border-radius: 85%;
    transition: transform .2s; /* Animation */
}

.barber-logo {
    width: 50%;
    height: auto;
    margin: 25% 25%;  
    border-radius: 85%;
    transition: transform .2s; /* Animation */
    background: transparent;
    border: none;
}

.photographer-logo {
    width: 50%;
    height: 50%;
    margin: 25% 25%;
    border-radius: 85%;
    transition: transform .5s;
}



/* Hover for logos */

.barber-logo:hover {
    transform: scale(1.2);
}

.chef-logo:hover {
    transform: scale(1.2);
}

/* ------ */

#what {
    background-color: black;
}

.what-title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
}

.what-para {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    display: block;
}

.dropbtn {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    padding: 0;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 10%;
    height: 10%;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 70%;
    

}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: red;} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: red;}

#gesture {
    margin-top: 50px;
}
.gesture-title {
    color: white;
    text-align: center;
}

.gesture-pic {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
        -webkit-transition: all .8s ease-in-out;  
}

.gesture-pic:hover {
    filter: none;
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.01);
    }

