

body {
    background-color: black;
}

button {
    display: none;
}

.main-nav-a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
}

.site-header {
    max-width: 2000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.site-logo {
    width: 100%;
    height: 100%;
}
/* Hover For Vertical Nav */

.site-header-text h4 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
}

/* fading done */

.main-nav-a:hover {
    color: red;
}



.main-nav {
    display: inline;
    padding: 0 auto;
}

.main-nav-list {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    
}


.site-nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:black;
    list-style: none;
    margin: auto; 

}

.who-title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;

}

.chef-logo {
    width: 50%;
    height: auto;
    margin: 25% 25%;
    border-radius: 85%;
    transition: transform .2s; /* Animation */
}

.barber-logo {
    width: 50%;
    height: auto;
    margin: 25% 25%;  
    border-radius: 85%;
    transition: transform .2s; /* Animation */
}

/* Hover for logos */

.barber-logo:hover {
    transform: scale(1.2);
}

.chef-logo:hover {
    transform: scale(1.2);
}

/* ------ */

#what{
    background-color: black;
}

.what-title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
}

.what-para {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}